
/* Index Page */
.links-index-text{
	text-align: center;
}

/* Show Page */

.col-sm-10 {
	padding-left: 0px;
}

.col-sm-offset-2{
	margin-left: 0px;
}

.link-paragraph {
	font-style: italic;	
	font-size: 10px;
	margin-bottom: 0px;
}

.link-page h2 {
	margin-top: 0px;
}