.readian-nav {
/*	font-family: 'Open Sans', serif;
*/	
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: uppercase;
	font-weight: bold; 
	color: #fff;
	a {
	/*color: #10365D;*/
	color: #000;
	}
}

#left-leaning a{
	color: #337ab7;
	/*color: #10365D;*/
}

#right-leaning a{
	color: #E23939;
}

.navbar-toggle {
	
}