.readium-nav {
	font-family: 'Open Sans', serif;
	text-transform: uppercase;
	font-weight: bold; 
	color: #fff;
	a {
	/*color: #10365D;*/
	color: #000;
	}
}

#left-leaning a{
	color: #337ab7;
}

#right-leaning a{
	color: #E23939;
}